*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    bottom: none;
    font-size: 10vmin;
    color: #b0413e;
    background-color: #ffffc7;

}
#reset-bt{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color:white;
    border-radius: 1rem;
    border: none
}
#new-bt{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color:white;
    border-radius: 1rem;
    border: none
}
#msg{
    color:#ffffc7;
    font-size:8vmin;
}
.msg-container{
    height: 20vmin;
}
.hide{
    display:none;
}
@keyframes win-flash {
  0%, 100% {
    background-color: #90ee90;
    transform: scale(1);
  }
  50% {
    background-color: #32cd32; /* darker green */
    transform: scale(1.1);
  }
}

.win-box {
  animation: win-flash 0.30s ease-in-out 3;
  border: 2px solid #228B22;
}
